@import url("https://fonts.googleapis.com/css2?family=McLaren&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #0d1926;
  color: white;
}
.header {
  height: 100vh;
  width: auto;
  overflow: hidden;
}
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 40px 20px;
}
.nav-container h2 {
  cursor: default;
  background-color: #122131;
  color: #F7EFE5;
  padding: 7px;
  border-radius: 7px;
  user-select: none;
}
nav {
  display: flex;
  gap: 2.5rem;
}
a {
  text-decoration: none;
  color: white;
  position: relative;
  overflow: hidden;
}
nav a::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  background-color: white;
  height: 5px;
  transition: 0.7s;
}
a:hover::after {
  width: 100%;
}
.menu-icon {
  display: none;
}
.sidebar {
  background-color: #3c304f;
  display: none;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  gap: 7rem;
  backdrop-filter: blur(15px);
  align-items: center;
  z-index: 999;
}
.sidebar:first-child {
  padding: 2rem;
}
#Home {
  display: flex;
  margin: 3em;
  padding: 7% 0;
  justify-content: space-evenly;
  max-height: calc(100vh - 80px);
}
.details {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  gap: 3em;
}
.home-image {
  height: 20rem;
  width: 20rem;
  padding: 20px 20px;
  overflow: hidden;
}
.home-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.details button {
  max-width: 12em;
  font-size: 15px;
  padding: 12px 0;
  transition: all 0.7s;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color:#F7EFE5;
  font-weight: 500;
}
.details button:hover {
  background-color: #294769;

  transform: translateY(-5px);
  cursor: pointer;
}
.section-container {
  display: flex;
  flex-direction: row;
}
.about-image {
  padding: 20px;
  border-right: 3px solid black;
  max-width: 50%;
  text-align: -webkit-center;
}
.about-image img {
  height: 300px;
  margin: auto 0;
  object-fit: contain;
  border-radius: 20%;
}
.about-image div {
  width: 80%;
  margin-top: 2em;
  text-align: justify;
}
.about-tabs {
  display: flex;
  margin: 30px 0 30px 0;
  gap: 8em;
}
ul {
  list-style: inside;
  list-style-type: "-> ";
}
li {
  margin-bottom: 1.5rem;
  font-size: 1.3rem;
}
.Skills-button,
.Education-button {
  padding: 15px;
}
.Skills-button:hover,
.Education-button:hover {
  cursor: pointer;
}
.Education {
  display: flex;
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
}
.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #333;
  padding: 20px;
  text-align: center;
  width: 250px;
  transition: transform 0.3s ease;
  overflow: hidden;
}
.card:hover {
  transform: translateY(-5px);
}
.Location {
  font-weight: bolder;
}
#About {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 3rem;
}
.about-detail-container {
  margin-left: 3em;
  text-align: left;
}
#Projects {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;
  padding: 3rem 3rem;
}
.project-details {
  padding: 10px 10px;
  display: flex;
  flex-wrap: wrap;

  width: 100vw;
  justify-content: center;
  gap: 2rem;
}
.project-box {
  width: 400px;
  /* height: 900px; */
  padding: 1rem 1rem;
  background-color: #3c304f;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  border-radius: 20px;
}
.project-image {
  height: 300px;
  width: 250px;
  overflow: hidden;
}
.project-image img {
  height: 100%;
  width: 100%;
  border-radius: 15px;
}
.btn-container {
  display: flex;
  gap: 2rem;
}
.btn-container button {
  padding: 15px 25px;
  font-weight: 700;
  border-radius: 20px;
  border: none;
  outline: none;
}
.btn-container button:hover {
  cursor: pointer;
}
#Contact {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.contact-container {
  display: flex;
  flex-direction: row;
}
.column1 {
  padding: 55px 0 0 55px;
  min-width: 500px;
}
.column1 div {
  margin-top: 1em;
  display: flex;
  align-items: center;
  font-size: 25px;
}
.column1 div i {
  margin-right: 20px;
  font-size: 40px;
  overflow: hidden;
}
.links-container i,
.links-container img:hover {
  cursor: pointer;
}
.links-container {
  height: 5em;
  width: 20em;
}
.links-container img {
  height: 35px;
  object-fit: cover;
  background-color: white;
  border-radius: 6px;
}
form {
  margin-top: 2rem;
}
form input,
form textarea {
  width: 80%;
  margin: 1rem 1rem 0.7rem 1rem;
  font-size: 17px;
  padding: 10px;
  border-radius: 10px;
  resize: none;
  border: 3px solid rgb(20, 20, 122);
}
form button {
  padding: 10px 20px;
  border: 3px solid rgb(20, 20, 122);
  border-radius: 10px;
  margin: 2em;
}
form button:hover {
  background-color: #b23434;
  cursor: pointer;
  animation: 1.3s ease-in-out;
}
@media (max-width: 950px) {
  .home-image {
    flex-basis: 45%;
  }
  .contact-container {
    flex-direction: column-reverse;
    margin-left: 3rem;
  }
  .column1 {
    padding: 30px 0 0 30px;
  }
  .column1 div {
    font-size: 17px;
  }
}
@media (max-width: 800px) {
  .home-image {
    flex-basis: 75%;
  }
  .section-container {
    flex-direction: column;
    align-items: center;
  }
  .about-image {
    border: none;
    max-width: none;
  }
  .about-detail-container {
    margin-left: 0;
    min-width: 300px;
  }
}
@media (max-width: 650px) {
  .home-image {
    flex-basis: auto;
  }
  .active {
    display: block;
  }
  nav a {
    display: none;
  }
  .sidebar a {
    display: block;
  }
  #Home {
    flex-direction: column-reverse;
    align-items: center;
  }
  .about-image div {
    font-size: 13px;
  }
}
@media (max-width: 400px) {
  .nav-container {
    font-size: 15px;
  }
  .home-image {
    height: 15rem;
    width: 15rem;
  }
  .contact-container {
    margin-left: 1.5rem;
  }
  .column1 {
    padding: 0;
  }
  form input,
  form textarea {
    font-size: 12px;
  }
  .column1 div i {
    font-size: 30px;
  }
  .links-container img {
    height: 25px;
  }
  form button {
    margin: 1em 0 0 1.5em;
  }
  .project-box {
    width: 300px;
  }
  #About {
    padding: 1rem;
  }
  .about-image img {
    height: 225px;
  }
  .about-detail-container {
    min-width: 280px;
  }
}
